*.run
*.txt
*.pyc
*.bin
*.tsv
*.out
*.log
*.vscode
*.results
*.data
timeline copy.js
timeline2.js
batch.sh
/test/
aaa.cpp
/build/*
/build-managed/
/doc/build
/llm/include/unit_module/sram_manager/build/*
/build-managed/
/llm/include/unit_module/dram_kvtable/build/*
/build-managed/
/llm/config_generation/build/*
/build-managed/
/llm/test/workload_config/playground.json
/streaming_trace_viewer/static/timeline2.js
/DRAMSys/configs/addressmapping/am_ddr4_8x4Gbx8_df.json
/DRAMSys/configs/memspec/JEDEC_4Gb_DDR4-1866_8bit_DF.json
# /doc/make.bat
# /doc/Makefile
/doc/translate_openrouter.py
/doc/translate.py

!**/CMakeLists.txt
!CMakeLists.txt
!/doc/requirements.txt
./DRAMSys/configs/memspec/JEDEC_4Gb_DDR4-1866_8bit_DF.json
./DRAMSys/configs/addressmapping/am_ddr4_8x4Gbx8_df.json
*/compile_commands.json
doc/source/_build/
